body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.score-board {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.hole {
    background-color: #8B4513; /* Цвет земли */
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.mole {
    background-color: #A0522D; /* Цвет крота */
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%; /* Крот спрятан */
    transition: bottom 0.3s ease-out;
}

.hole.up .mole {
    bottom: 0; /* Крот высунулся */
}
