body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.score-board {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2em;
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#start-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #D2B48C; /* Светлая земля */
    border-radius: 10px;
}

.hole {
    background-color: #8B4513; /* Цвет земли */
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.5);
}

.mole {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%; /* Крот спрятан */
    transition: bottom 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Изображение будет прижиматься ко дну норки */
}

.mole-img {
    width: 90%; /* Изображение немного меньше норки */
    height: auto;
    /* Убираем стандартный фон */
}

.hole.up .mole {
    bottom: 0; /* Крот высунулся */
}
